    body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  .tabs {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .tabcontent {
    display: none;
    padding: 20px;
  }
  
  button {
    margin-left: 10px;
    background-color: rgb(21, 105, 202);
    border-radius: 2px;
    border: none;
  
  }
  
  .tabcontent > div {
    margin-bottom: 10px;
  }
  
  .crypto-box {
    background-color: #f2f2f2; 
    border: 1px solid #ddd;
    border-radius: 5px; 
    padding: 10px;
    margin-bottom: 10px; 
    transition: background-color 0.3s; 
  }
  
  .crypto-box:hover {
    background-color: #e0e0e0; 
  }
  
  #balance{
    color: white;
  }
